body {
  margin: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
}
h1 {
  font-size: 5.625em;
  margin: 50px auto 0px auto;
  font-family: "Parisienne", cursive;
  color: #053742;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  color: #053742;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #39a2db;
}

a {
  color: #39a2db;
}
.skills-img {
  border-radius: 10px;
  width: 40%;
  float: left;
  margin-right: 30px;
}
.keyboard-img {
  border-radius: 10px;
  width: 40%;
  float: right;
  margin-left: 30px;
}

.develop-title {
  text-align: left;
}

.keyboard-title {
  text-align: right;
}

.develop-descript {
  clear: left;
}
.keyboard-descript {
  clear: right;
}

.glasses-img {
  width: 200px;
  margin-top: 25px;
}

.top-container {
  background-color: #a2dbfa;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.skills {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.middle-container {
}

.skill-row {
}

.bottom-container {
}

.under {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.subtitle {
  margin-top: 0px;
}
