body {
  margin: 0;
}

.top {
  background-color: #a2dbfa;
}

.middle {
  background-color: #39a2db;
  height: 200px;
  width: 200px;
}

.bottom {
  background-color: #053742;
  height: 200px;
  width: 200px;
}

.under {
  text-decoration: underline;
}
